body{
	background-color:  #141E30;
	font-family: Arial;
	}
header {
	color: white;
	font-size: 15px;
	text-align: center;
	 
}

.div1{
	text-align: left;
	color: white;
	padding: 100px;
	background-color:#2d446e;
}
.div2{
	text-align:left ;
	padding: 100px;
	background-color:#2d446e;
	color:white;
}
.test {
	color:whitesmoke;
}

.sd {
  font-family: Arial;
  color: rgba(255, 255, 255, 0.4);
  float: left;
  font-size: 12px;
  padding-left: 10px;
  text-transform: capitalize;
  background-color: #141E30;
  
  
}
.h11{
	font-size: 40px;
}
.end {
	background-color: #03173b;
	color:white;
	padding:1px;
	
}
.html {
	text-transform: capitalize;
}
.t4,
.t1,
.t2,
.t3 {
	padding: 10px;
	float: left;
}
p {
	color:white;
}
.csssource{
	color: white;
	
}
.lastparagraph {
	text-align: left;
	color: white;
	padding: 100px;
	background-color: #2d446e;
}
